.App {
  font-family: sans-serif;
  text-align: center;
}
.ol-attribution .ol-unselectable .ol-control .ol-uncollapsible{
  visibility: hidden;
}

.fullMap {
  position: absolute;
  width: 98%;
  height: 88%;
  border-radius: 4px;
  border: #e3e7e7 solid 2px;
  margin-left: 4px;
}